/* Default Section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
/* End Default Section */

/* Header Style Star Here */
#header{
    position: relative;
    height: 600px;
}
.header{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url('../images/header.jpg');
    overflow: hidden;
    background-size: cover;
    background-position: center top;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header .title{
    max-width: 780px;
    margin: 0 auto;
}
#header .title h1{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: white;
    text-align: center;
}
#header .profile{
    position: absolute;
    top: 75%;
    text-align: center;
}
#header .profile img{
    width: 100px;
    border-radius: 100%;
    border: 1px solid white;
}
#header .profile h1{
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#header .profile p{
    font-family:  'Source Sans Pro', sans-serif;
    font-style: italic;
    color: rgb(51,51,51);
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
}
/* Header Style End Here */

/* Item Style Start Here */
#all-item{
    width: 66.67%;
    margin: 0 auto;
    margin-top: 60px;
}
#all-item .item{
    display: flex;
}
#all-item .item .number{
    margin-right: 40px;
}
#all-item .item .number span{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: rgba(0,0,0,0.25);
}
#all-item .item .content{
    margin-bottom: 0;
}
#all-item .item .content h1{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    color: rgb(51,51,51);
}
#all-item .item .content h2{
    margin-bottom: 20px;
}
#all-item .item .content h2 a{
    color: #42b4d6;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
#all-item .item .content a:hover{
    text-decoration: underline;
}
#all-item .item .content p{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 32px;
    color: rgb(51,51,51);
    margin-bottom: 20px;
}
#all-item .item .content p strong{
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
#all-item .item .content .food-img img{
    width: 66.67%;
}
#all-item .item:nth-child(1),:nth-child(2){
    margin-bottom: 120px;
}
/* Item Start End Here */